.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    background-color: aliceblue;
    height: 100%;
    font-weight: bolder;
    border-radius: 30px;
}

.message_user {
    margin-left: auto;
    text-align: right !important;
    background: rgb(42, 42, 237);
    font-weight: 300;
}

.message_usercard{
    background-color: blue !important;
}

.message_guest{
    background-color:aqua !important;
}